.dashboard {
  &_chartOne {
    padding: 10px;
  }
  &_chartOne {
    height: auto !important;
    width: 100% !important;
  }
  &_chartOne canvas {
    height: auto !important;
    width: 100% !important;
  }
  &_chartTwo {
    height: auto !important;
    width: 100% !important;
  }
  &_chartTwo canvas {
    height: auto !important;
    width: 100% !important;
  }
}
